{% extends 'layout.html' %}

{% block contenido %}
      <h1 style="color: darkcyan; font-family: fantasy;">{{titulo}}</h1>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre completo</th>
            <th scope="col">Lugar de residencia</th>
            <th scope="col">Direccion</th>
            <th scope="col">Email</th> 
            <th scope="col">Documento de identificacion</th>
            <th scope="col">Acciones</th>
        </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Juan Gomez Perez</td>
            <td>Medellin</td>
            <td>Cra 30 #12-15</td>
            <td>Juan@gmail.com</td>
            <td>1092889104</td>
          <td>
            <button type="button" class="btn btn-success">Editar</button>
              <button type="button" class="btn btn-danger">Borrar</button>
          </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacobo Gonzalez Ruiz</td>
            <td>Cali</td>
            <td>Calle 13 #10-56</td>
            <td>Jacobo@gmail.com</td>
            <td>1936720436</td>
          <td>
            <button type="button" class="btn btn-success">Editar</button>
              <button type="button" class="btn btn-danger">Borrar</button>
          </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Pedro Duque Alvarez</td>
            <td>Barranquilla</td>
            <td>Cra 24 #42-15</td>
            <td>Pedro@gmail.com</td>
            <td>8173017492</td>
          <td>
            <button type="button" class="btn btn-success">Editar</button>
              <button type="button" class="btn btn-danger">Borrar</button>
          </td>
          </tr>
        </tbody>
      </table>
{% endblock contenido %} 