{% extends 'layout.html' %}

{% block contenido %}
    <h1 style="color: darkcyan; font-family: fantasy;">{{titulo}}</h1>   
        <form action="/se_guardo">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="descripcion">Descripción</label>
                <input type="text" class="form-control" id="descripcion" placeholder="Describa el producto">
              </div>
              <div class="form-group col-md-6">
                <label for="codigo">Codigo</label>
                <input type="text" class="form-control" id="codigo" placeholder="AAA00000" onblur="validarCodigo ()">
                <span class="alert alert-danger" role="alert" id="errorCodigo" style="display: none;">Error el campo debe tener 3 letras mayusculas y luego numeros</span>
              </div>
              <div class="form-group col-md-6">
                <label for="cantidad_inventario">Cantidad</label>
                <input type="number" class="form-control" id="cantidad">
              </div>
              <div class="form-group col-md-6">
                <label for="precio_unitario">Precio Unitario</label>
                <input type="number" class="form-control" id="precio_unitario">
              </div>
              <div class="form-group col-md-6">
                <label for="IVA">IVA</label>
                <input type="number" class="form-control" id="IVA">
              </div>
              <div class="form-group col-md-4">
                <label for="categoria">Nombre del vendedor</label>
                <input type="text" class="form-control" id="descripcion" placeholder="Nombre">
              </div>
            </div>
    
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="unidad_medida">Metodo de pago</label>
                <select id="unidad_medida" class="form-control">
                  <option selected>Por favor seleccione...</option>
                  <option value="GRS">Efectivo</option>
                  <option value="UND">Tarjeta</option>
                  <option value="UND">Transferencia</option>
                </select>
              </div>
              <div class="form-group col-md-4">
                <label for="categoria">Fecha de emision</label>
                <input type="text" class="form-control" id="descripcion" placeholder="AA/MM/DD">
              </div>
              <div class="form-group col-md-4">
                <label for="categoria">Nombre del comprador</label>
                <input type="text" class="form-control" id="descripcion" placeholder="Nombre">
              </div>

              <div class="form-group col-md-4">
                <label for="categoria">Documento de identificacion</label>
                <input type="text" class="form-control" id="descripcion" placeholder="Numero">
              </div>
              <div class="form-group col-md-4">
                <label for="categoria">Direccion</label>
                <input type="text" class="form-control" id="descripcion" placeholder="Direccion">
              </div>
              <div class="form-group col-md-4">
                <label for="categoria">Telefono</label>
                <input type="text" class="form-control" id="descripcion" placeholder="Telefono">
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </form>
          <script type="text/javascript">
        function validarCodigo() {
          console.log("Entro a la funcion");
          let campoCodigo = document.getElementById("codigo")
          let valorCodigo = campoCodigo.value;
          let errorCodigo = document.getElementById("errorCodigo")
          console.log ("El valor del codigo escrito es: " + valorCodigo );
          var expresionRegular = new RegExp("[A-Z]{3}[0-9]{1,}")
          if(expresionRegular.test(valorCodigo)) {
            console.log ("El campo cumple la validacion")
            errorCodigo.style.display = 'none';
          } else {
            console.log ("El campo No cumple la validacion")
            errorCodigo.style.display = 'block';
          }
        }
      </script>
{% endblock contenido %}
      