{% extends 'layout.html' %}

{% block contenido %}
    <h1 style="color: darkcyan; font-family: fantasy;">{{titulo}}</h1>  
        <form action="/facturas" method="post"> 
        <form class="needs-validation" novalidate>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="descripcion">Descripción</label>
                <input type="text" class="form-control" name="descripcion" {% if factura_almacenar %} value="{{ factura_almacenar.descripcion }}" {% endif %} id="descripcion" placeholder="Describa el producto">
              </div>
              <div class="form-group col-md-6">
                <label for="codigo">Codigo</label>
                <input type="text" class="form-control" name="codigo" {% if factura_almacenar %} value="{{ factura_almacenar.codigo }}" {% endif %} id="codigo" placeholder="AAA00000" onblur="validarCodigo ()">
                <span class="alert alert-danger" role="alert" id="errorCodigo" style="display: none;">Error el campo debe tener 3 letras mayusculas y luego numeros</span>         
          {% if errorFactura %}
              <span class="alert alert-danger" role="alert" id="errorFactura"  style="display: block;">{{ errorFactura }}</span>
          {% endif %}
              </div>
              <div class="form-group col-md-6">
                <label for="precio_unitario">Precio Unitario</label>
                <input type="number" class="form-control" name="precio_unitario" {% if factura_almacenar %} value="{{ factura_almacenar.precio_unitario }}" {% endif %} id="precio_unitario">
              </div>
              <div class="form-group col-md-4">
                <label for="categoria">Nombre del vendedor</label>
                <input type="text" class="form-control" name="nombre_vendedor" {% if factura_almacenar %} value="{{ factura_almacenar.nombre_vendedor }}" {% endif %} id="nombre_vendedor" placeholder="Nombre">
              </div>
            </div>
    
            <div class="form-row">
              <div class="form-group col-md-4">
            <label for="metodo_pago">Metodo de pago</label>
            <select id="metodo_pago" name="metodo_pago" class="form-control">
              <option selected>Por favor seleccione...</option>
              <option value="efectivo">Efectivo</option>
              <option value="tarjeta">Tarjeta</option>
              <option value="tranferencia">Tranferencia</option>
            </select>
          </div>
              <div class="form-group col-md-4">
                <label for="categoria">Nombre completo del comprador</label>
                <input type="text" class="form-control" name="nombre_comprador" {% if factura_almacenar %} value="{{ factura_almacenar.nombre_comprador }}" {% endif %} id="nombre_comprador" placeholder="Nombre">
              </div>

              <div class="form-group col-md-4">
                <label for="categoria">Documento de identificacion</label>
                <input type="text" class="form-control" name="documento_identidad" {% if factura_almacenar %} value="{{ factura_almacenar.documento_identidad}}" {% endif %} id="documento_identidad" placeholder="Documento">
          {% if errorDocumento %}
              <span class="alert alert-danger" role="alert" id="errorDocumento"  style="display: block;">{{ errorDocumento }}</span>
          {% endif %}
              </div>
              <div class="form-group col-md-4">
                <label for="categoria">Telefono</label>
                <input type="text" class="form-control" name="telefono" {% if factura_almacenar %} value="{{ factura_almacenar.telefono }}" {% endif %} id="telefono" placeholder="Telefono">
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </form>
          <script type="text/javascript">
        function validarCodigo() {
          console.log("Entro a la funcion");
          let campoCodigo = document.getElementById("codigo")
          let valorCodigo = campoCodigo.value;
          let errorCodigo = document.getElementById("errorCodigo")
          console.log ("El valor del codigo escrito es: " + valorCodigo );
          var expresionRegular = new RegExp("[A-Z]{3}[0-9]{1,}")
          if(expresionRegular.test(valorCodigo)) {
            console.log ("El campo cumple la validacion")
            errorCodigo.style.display = 'none';
          } else {
            console.log ("El campo No cumple la validacion")
            errorCodigo.style.display = 'block';
          }
        }
      </script>
{% endblock contenido %}
      